<nav class="navbar navbar-expand-lg bg-body-tertiary animate__animated animate__backInDown">
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <img src="https://img.icons8.com/parakeet/96/000000/film-reel.png" alt="Bootstrap" width="auto" height="34">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-4">
          <li class="nav-item px-2">
            <a class="nav-link animate__animated animate__zoomIn animate__slow" aria-current="page" routerLink="home" routerLinkActive="activelink">Home <i class="bi bi-house"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link animate__animated animate__zoomIn animate__slow" routerLink="tv-show" routerLink="tv-shows" routerLinkActive="activelink">TV Shows <i class="bi bi-tv"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link animate__animated animate__zoomIn animate__slow" routerLink="movies" routerLink="movies" routerLinkActive="activelink">Movies <i class="bi bi-film"></i></a>
          </li>
          <li class="nav-item dropdown px-2">
            <a class="nav-link animate__animated animate__zoomIn animate__slow dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category <i class="bi bi-bookmarks"></i>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let g of genres"><a class="dropdown-item" (click)="getCat(g.id)" routerLink="category/{{g.id}}" routerLinkActive="activelink">{{g.name}}</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
        </ul>
         <input [(ngModel)]="searchKey" (keyup)="search($event)" class="form-control me-2 w-50 animate__animated animate__zoomIn animate__slow" type="text" placeholder="Search" aria-label="Search"> 
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <p class="nav-link animate__animated animate__zoomIn animate__slow dropdown-toggle pt-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{userName}}</p>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="signIn/signUp" (click)="signOut()">Sign Out</a></li>
          </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>