.nav-link:hover{
    color: rgb(255, 0, 0);
}

.navbar{
    z-index: 5;
    width: 100%;
    position: fixed;
}

.activelink{
    color: #ffd900db;
}

.in{
    width: 300px;
}

.in:focus{
    border-color: red;
}
