<app-banner [singleData]="single"></app-banner>
<p class="h4 text-center m-4 animate__animated animate__jackInTheBox" *ngIf="casts != false">Cast</p>
<hr class="hr w-50 mx-auto animate__animated animate__jackInTheBox" *ngIf="casts != false"/>
<div class="container" *ngIf="casts != false">
  <div class="row text-center card-cont">
    <div class="col-lg-2 mx-2 mycard" *ngFor="let cast of casts">
      <div class="card testimonial-card animate__animated animate__rollIn animate__slow">
        <div class="card-up" style="background-color: #ff3b259a;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="{{cast.profile_path === null ? img+'/8eTtJ7XVXY0BnEeUaSiTAraTIXd.jpg' : img+cast.profile_path}}"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h5 class="mb-4">{{cast.original_name}}</h5>
          <hr />
          <p class="dark-grey-text mt-4">
            {{cast.character}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5 mb-5">
  <p class="h4 text-center m-4">Crew</p>
  <hr class="hr w-50 mx-auto"/>
  <div class="row roww">
      <div class="col-lg-2" *ngFor="let c of crew">
          <div class="card text-center m-0 animate__animated animate__rollIn animate__slower">
              
              <div class="user-image">
                  
          <img src="{{c.profile_path === null ? img+'/kKeyWoFtTqOPsbmwylNHmuB3En9.jpg' : img+c.profile_path}}" class="rounded-circle" width="80"
                  >
                  
              </div>
              
              <div class="user-content">
                  
                  <h5 class="mb-0">{{c.name}}</h5>
                  <span>{{c.known_for_department}}</span>                    
              </div>
          </div>
      </div>
  </div>
</div>

<p class="h4 text-center m-4" *ngIf="vArray != false">Videos</p>
<hr class="hr w-50 mx-auto" *ngIf="vArray != false"/>

<div class="container text-center">
    <div class="row justify-content-evenly iframeRow">
      <div class="col-lg-6" *ngFor="let v of vArray">
        <iframe class="animate__animated animate__rollIn animate__slower" width="650" height="450" [src]="vUrl+v.key | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
</div>

<app-footer></app-footer>


  