.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    iframe{
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 680px) {

        .card{
            width: auto;
        }
    
        iframe{
           width: 370px;
           height: 300px;
        }
      }
    
