<div
  class="container-fluid banner animate__animated animate__fadeIn animate__slow"
  style="
    background-image: url('{{image+trending.backdrop_path}}');
  "
>
  <h3 class="title animate__animated animate__jackInTheBox animate__delay-2s">{{trending.name ? trending.name : trending.title}}</h3>
  <p class="description animate__animated animate__jackInTheBox animate__delay-2s">
    {{trending.overview}}
  </p>
  <button type="button" class="btn btn-outline-danger m-2 animate__animated animate__jackInTheBox animate__delay-2s" data-bs-toggle="modal" data-bs-target="#myModal">Play <i class="bi bi-play-circle"></i></button>
  <button type="button" class="btn btn-outline-light mx-2 animate__animated animate__jackInTheBox animate__delay-2s" routerLink="/more-info" (click)="moreInfo(trending.id)">More info <i class="bi bi-info-circle"></i></button>
</div>
            
  <!-- Modal -->
  <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <iframe width="798" height="500" [src]="vUrl+video | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>