<div
  class="container-fluid banner animate__animated animate__zoomIn animate__slow"
  style="
    background-image: url('{{image+trending.backdrop_path}}');
  "
>
  <h3 class="title animate__animated animate__jackInTheBox animate__delay-2s">{{trending.name ? trending.name : trending.title}}</h3>
  <p class="description animate__animated animate__jackInTheBox animate__delay-2s">
    {{trending.overview}}
  </p>
  <button type="button" class="btn btn-outline-danger mx-2 animate__animated animate__jackInTheBox animate__delay-2s">Play <i class="bi bi-play-circle"></i></button>
  <button type="button" class="btn btn-outline-light mx-2 animate__animated animate__jackInTheBox animate__delay-2s">More info <i class="bi bi-info-circle"></i></button>
</div>
