<!-- Footer -->
<footer
  class="text-center text-lg-start bg-dark text-muted animate__animated animate__fadeInUp animate__slower"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a
        href="https://www.facebook.com/tijojoseph.sony/"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        href="https://twitter.com/TijoTJoseph1"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-twitter"></i>
      </a>
      <a
        href="https://www.instagram.com/hello_world.ttj/"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/tijo-t-joseph/"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-linkedin"></i>
      </a>
      <a
        href="https://github.com/hello-world-ttj"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-gem me-3"></i>MovieMaven
          </h6>
          <p>
            MovieMaven is a platform that provides comprehensive
            information and insights about movies. This type of website
            typically includes reviews, ratings, synopses, cast and crew
            information, trailers, and other relevant details about movies.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="bi bi-envelope me-3"></i>
            tijotjosephone@duck.com
          </p>
          <p><i class="bi bi-phone me-3"></i>+91 8281977675</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://tijotjoseph.me/"
      >hello_world.ttj</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
