<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner animate__animated animate__slideInLeft animate__slow">
      <div class="carousel-item active">
        <img src="{{imgUrl+category[0].backdrop_path}}" class="d-block catImg mx-auto" alt="backdrop">
      </div>
      <div class="carousel-item">
        <img src="{{imgUrl+category[1].backdrop_path}}" class="d-block catImg mx-auto" alt="backdrop">
      </div>
      <div class="carousel-item">
        <img src="{{imgUrl+category[2].backdrop_path}}" class="d-block catImg mx-auto" alt="backdrop">
      </div>
      <div class="carousel-item">
        <img src="{{imgUrl+category[3].backdrop_path}}" class="d-block catImg mx-auto" alt="backdrop">
      </div>
      <div class="carousel-item">
        <img src="{{imgUrl+category[4].backdrop_path}}" class="d-block catImg mx-auto" alt="backdrop">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>