<app-home-banner></app-home-banner>
<p class="h4 ms-4 mt-2 mb-0">Trending Now🔥</p>
<app-card [datas]="trending"></app-card>
<p class="h4 ms-4 mt-2 mb-0">Action</p>
<app-card [datas]="action"></app-card>
<p class="h4 ms-4 mb-0">Adventure</p>
<app-card [datas]="adventure"></app-card>
<p class="h4 ms-4 mb-0">Animation</p>
<app-card [datas]="animation"></app-card>
<p class="h4 ms-4 mb-0">Comedy</p>
<app-card [datas]="comedy"></app-card>
<p class="h4 ms-4 mb-0">Crime</p>
<app-card [datas]="crime"></app-card>
<p class="h4 ms-4 mb-0">Documentary</p>
<app-card [datas]="documentary"></app-card>
<p class="h4 ms-4 mb-0">Drama</p>
<app-card [datas]="drama"></app-card>
<p class="h4 ms-4 mb-0">Family</p>
<app-card [datas]="family"></app-card>
<p class="h4 ms-4 mb-0">Fantasy</p>
<app-card [datas]="fantasy"></app-card>
<p class="h4 ms-4 mb-0">History</p>
<app-card [datas]="history"></app-card>
<p class="h4 ms-4 mb-0">Horror</p>
<app-card [datas]="horror"></app-card>
<p class="h4 ms-4 mb-0">Music</p>
<app-card [datas]="music"></app-card>
<p class="h4 ms-4 mb-0">Mystery</p>
<app-card [datas]="mystery"></app-card>
<p class="h4 ms-4 mb-0">Romance</p>
<app-card [datas]="romance"></app-card>
<p class="h4 ms-4 mb-0">Science Fiction</p>
<app-card [datas]="scienceFiction"></app-card>
<p class="h4 ms-4 mb-0">TV Movie</p>
<app-card [datas]="tVMovie"></app-card>
<p class="h4 ms-4 mb-0">Thriller</p>
<app-card [datas]="thriller"></app-card>
<p class="h4 ms-4 mb-0">War</p>
<app-card [datas]="war"></app-card>
<p class="h4 ms-4 mb-0">Western</p>
<app-card [datas]="western"></app-card>
<app-footer></app-footer>