<div class="container">
  <div class="row flexcard p-4">
      <div class="w-0 d-flex animate__animated animate__rollIn animate__slow" *ngFor="let data of datas | filter:searchText" >
          <div class="card-sl">
              <div class="card-image">
                  <img class="card-img-top" src="{{imgUrl+data.poster_path}}" />
              </div>

              <a class="card-action" (click)="addToFav(data)"><i class="bi bi-heart"></i></a>
              <div class="star">
                <div class="py-2" *ngFor="let i of range(data.vote_average ? data.vote_average/2 : 3)">
                  <span class="rating-star full-star"></span>
                </div>
              </div>
              <a routerLink="more-info" (click)="moreInfo(data.id)" class="card-button">More info <i class="bi bi-info-circle"></i></a>
          </div>
      </div>
  </div>  


  