<div class="container-fluid card-cont">
      <div *ngFor="let data of datas">
        <!-- Card -->
<div class="card-container box mx-2">
	<div class="card-flip">
    <!-- Card Front -->
    <div class="card front my-4">
      <img src="{{imgUrl+data.poster_path}}" class="card-img-top img-fluid" alt="movie-poster">
        <div class="card-block">
          <h5 class="card-title pt-4">{{data.name ? data.name : data.title}}</h5>            
          </div>
    </div>
    <!-- End Card Front -->

    <!-- Card Back -->
    <div class="card back">
      <div class="card-header warning-color"></div>
        <div class="card-block text-center">
        <p class="card-text">{{data.overview}}</p>
          <h4 class="card-title">Rating</h4>
			<p class="card-text"><a href="#" class="rating">{{data.vote_average}}/10</a></p>
            <button type="button" class="btn btn-outline-danger m-2">Play <i class="bi bi-play-circle"></i></button>
            
            <button type="button" class="btn btn-outline-light m-2" routerLink="/more-info" (click)="moreInfo(data.id)">More info <i class="bi bi-info-circle"></i></button>
        </div>
      </div>
      <!-- End Card Back -->
	</div>
</div>
<!-- End Card -->

      </div>
  </div>

